/******************************* Background ****************************/
.bg {
    background-image: url('../images/s13.jpg');
    background-size: cover;
}

.bg2 {
    background-image: url('../images/blue-background.jpg');
}

.bg1 {
    /* background-image: url('../images/s1.jpeg'); */
    /* background-color: #384750; */
    height: auto;
    /* margin-top:50px; */

}

/***************************** navbar *********************************/

.navbar {
    margin-bottom: 0px;
    border-radius: 0;
}

.navbar-default{
    /* background-color: #2c3235; */
    background-color: transparent;
    /* background: linear-gradient(225deg, #38b5d4 1%, #f3edd9 41.53%, #7fabb6 100%); */
    border-color: #2c3235;
    padding: 2px;
    border: 0px;
}

.navbar-brand { 
    font-size: 30px;
    font-weight: 530;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar-default .navbar-brand {
    color: #f9fdfe;
}



.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: rgb(241, 132, 81);
    background-color: transparent;
}

.navbar-nav>li>a {
    color: #8b949a;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}


@media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #8e7ca0;
}
}


.dropdown-menu{
    box-shadow: 0 4px 8px 0 #8b949a;
    /* background-color: #2c3235; */
    background-color: #132437;
    /* background-color: transparent; */
    min-width: 100px;
    
    transition: visibility 0.3s, opacity 0.5s;
    display: block;
    opacity: 0;
    visibility: hidden;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.dropdown-menu>li>a{
    /* border: 1px solid transparent; */
    /* border-top-color: blanchedalmond; */
    color: #8b949a;
    padding: 10px;
    text-align: left;
}

/* .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: #e7e7e7;
} */

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}







.side{
    height: 100%;
}


@media screen and (max-width:767px){
    .row.content {height: auto;}
}



.social-media-list {
    margin-top: 12px;
    margin-left: 30px;
    margin-right: 12px;
}

.social-media-link {
    padding: 0px !important;
    margin-left: 12px;
}

.social-media-icon {
    font-size:22px;
    color: #a9abac;
    transition: color 0.5s;
}

.social-media-icon:hover {
    color: #e6e8e9;
}

.tab-link {
    transition: color 0.5s;
}




/************************* Home page ********************************/
.home-header {
    height: 100%;
}

.home-header-img {
    padding: 50px 0;
    margin: auto;
}

.about-me-header {
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.about-me-content {
    /* background-color: transparent; */
    font-size: 16px;
    padding: 5px;
    line-height: 2.5;
    text-align: left;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: 30px;
}

/*------------------------ image slide show ---------------------------*/
.imgSlide {
    padding: 5px;
    margin: 5px;
}


.myimg {
    max-width: 100%;
    height: auto;
}

.zoom-effect {
    transition: transform 0.3s;
}

.zoom-effect:hover {
    transform: scale(1.1);
    
}

.opacity-effect {
    transition: opacity 0.8s;
}

.opacity-effect:hover {
    opacity: 0.7;
}


/*----------------------------- Login --------------------------------------*/
.modal-title{
    text-align: center;
    color: #1fb5e2;
}

.imgLogin{
    border-radius: 50%;
    margin: auto;
    max-width: 150px;
    max-height: 120px;
}


/****************************** tab content **************************/
.tab-content {
    margin-right: 35px;
}


/********************************* bottom Contact **********************/
.contact {
    background-color: aquamarine;
}